<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Offres d'emplois</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link href="css/login.css" rel="stylesheet">
</head>
  
<style>
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

body
{
  background: #E6E6FA;
}

.wrn-btn{
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(38px) !important;
  border-radius:0;
}


.container-fluid{
  position: relative;
  text-align: center;
  color: white;
  padding-bottom: 50px;
}
.text1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.table{
    padding-top: 10px;
}

#en{
	
	margin-left:10px;
	width:90%;
}

</style>



  <!--- job list -->
  

  <h1 class="conatiner text-center">Offres publiés</h1>                                                              
  <section id ="en">

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Offres</th>
          <th scope="col">Titre du poste</th>
          <th scope="col">Date de publication</th>
          <th scope="col">Appliquer</th>
      </tr>
  </thead>
 
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a href="#"> Etat de droit SARL</a></td>
      <td>Sécrétaire du personnel</td>
      <td>30/06/2021</td>
      <td><a href="index.php"> Apply Now </a></td>
  </tr>
  <tr>
      <th scope="row">2</th>
      <td><a href="#"> Ecobank.</a></td>
      <td>Account Manager </td>
      <td>26/07/2021</td>
      <td><a href="index.php"> Apply Now </a></td>
  </tr>


  <tr>
      <th scope="row">3</th>
      <td><a href="#"> CILU.</a></td>
      <td>Commercial Manager (Incentive) </td>
      <td>15/05/2021</td>
      <td><a href="file:///C:/Users/GALIB-PC/Desktop/e%20py/apply.html"> Apply Now </a></td>
  </tr>


  <tr>
      <th scope="row">4</th>
      <td><a href="#"> RAWSUR.</a></td>
      <td>Technical Officer (Leather Engineering) </td>
      <td>30/06/2021</td>
      <td><a href="file:///C:/Users/GALIB-PC/Desktop/e%20py/apply.html"> Apply Now </a></td>
  </tr>

  <tr>
      <th scope="row">5</th>
      <td><a href="#"> BTC International Ltd.</a></td>
      <td>Technician </td>
      <td>28/07/2021</td>
      <td><a href="file:///C:/Users/GALIB-PC/Desktop/e%20py/apply.html"> Apply Now </a></td>
  </tr>
  <tr>
      <th scope="row">6</th>
      <td><a href="#"> DGDA</a></td>
      <td>Comptable </td>
      <td>20/07/2021</td>
      <td><a href="file:///C:/Users/GALIB-PC/Desktop/e%20py/apply.html"> Apply Now </a></td>
  </tr>
  <tr>
      <th scope="row">7</th>
      <td><a href="#"> ORANGE RDC.</a></td>
      <td>Referent digital </td>
      <td>15/07/2021</td>
      <td><a href="file:///C:/Users/GALIB-PC/Desktop/e%20py/apply.html"> Apply Now </a></td>
  </tr>
  <tr>
      <th scope="row">8</th>
      <td><a href="#">FINCA RDC</a></td>
      <td>Analyste Programmeur</td>
      <td>25/07/2021</td>
      <td><a href="file:///C:/Users/GALIB-PC/Desktop/e%20py/apply.html"> Apply Now </a></td>
  </tr>
  <tr>
      <th scope="row">9</th>
      <td><a href="#"> Prayas International Ltd.</a></td>
      <td>Technician </td>
      <td>20/06/2021</td>
      <td><a href="file:///C:/Users/GALIB-PC/Desktop/e%20py/apply.html"> Apply Now </a></td>
  </tr>
  <tr>
      <th scope="row">10</th>
      <td><a href="#">EQUITY BCDC</a></td>
      <td>Account Manager </td>
      <td>28/07/2021</td>
      <td><a href="file:///C:/Users/GALIB-PC/Desktop/e%20py/apply.html"> Apply Now </a></td>
  </tr>
  <tr>
      <th scope="row">11</th>
      <td><a href="#">USAID RDC</a></td>
      <td>Coordonateur de projets</td>
      <td>16/06/2021</td>
      <td><a href="file:///C:/Users/GALIB-PC/Desktop/e%20py/apply.html"> Apply Now </a></td>
  </tr>
  <tr>
      <th scope="row">12</th>
      <td><a href="#">TOP CONGO</a></td>
      <td>Journaliste</td>
      <td>20/07/2021</td>
      <td><a href="file:///C:/Users/GALIB-PC/Desktop/e%20py/apply.html"> Apply Now </a></td>
  </tr>


  <tr>
  </tr>

</tbody>
</table>

</section>

   


  





</body>
</html>
